body {
  background-color:black;
}

.grid{
  margin-top: 2%;
  margin-left: auto;
margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 0.2px solid rgb(1, 17, 17);
}

.grid div {
  width: 20px;
  height: 20px;
}

.power-pellet{
  background-color: rgb(14, 233, 14);
  border-radius: 10px;
}

.pac-dot {
  background-color: green;
  border: 3px solid rgb(194, 190, 190);
  box-sizing: border-box;
  border-radius: 10px;
}

.blinky{
  background-color: red;
}

.stinky{
  background-color: rgb(221, 18, 130);
}

.inky{
  background-color: rgb(15, 214, 204);
}

.clyde{
  background-color: rgb(243, 125, 78);
}

.ghost{
  border: 0px;
  border-radius: 0px;
}

.scared-ghost{
  background-color: purple;
  border: 0px;
  border-radius: 0px;
}

.wall{
  background-color: rgb(8, 14, 102);
}

.pac-man{
  background-color: rgb(247, 232, 22);
  border-radius: 10px;
}
h2{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;

}

