@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "PressStart2P", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 0.2px solid #011111; }
  .grid div {
    width: 20px;
    height: 20px; }

.power-pellet {
  background-color: #0ee90e;
  border: solid black 4px;
  box-sizing: border-box;
  border-radius: 10px; }

.pac-dot {
  background-color: yellow;
  border: solid black 7px;
  box-sizing: border-box;
  border-radius: 10px; }

.blinky {
  background-color: red; }

.stinky {
  background-color: #dd1282; }

.inky {
  background-color: #0fd6cc; }

.clyde {
  background-color: #f37d4e; }

.ghost {
  border: 0px;
  border-radius: 0px; }

.scared-ghost {
  background-color: purple;
  border: 0px;
  border-radius: 0px; }

.wall {
  background-color: #080e66; }

.pac-man {
  background-color: #f7e816;
  border-radius: 10px; }

h2 {
  color: white;
  font-weight: normal;
  text-align: center; }

.low-score {
  color: red; }

.mid-score {
  color: yellow; }

.high-score {
  color: red; }

#start-screen {
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center; }
  #start-screen h1 {
    color: yellow;
    font-size: 4rem;
    margin-top: 40vh;
    margin-bottom: 40px;
    animation: colours 1s infinite; }
  #start-screen h2 {
    margin: 20px 0px; }

#start-msg {
  animation: blink 0.8s infinite; }

#game-over-screen {
  align-items: center;
  color: red;
  font-size: 6rem;
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none; }

#you-won-screen {
  align-items: center;
  color: #0bf117;
  font-size: 6rem;
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none; }

.overlay-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex; }

@keyframes colours {
  0% {
    color: yellow; }
  31% {
    color: yellow; }
  33% {
    color: #dd1282; }
  65% {
    color: #dd1282; }
  66% {
    color: #0fd6cc; }
  99% {
    color: #0fd6cc; } }

@keyframes blink {
  0% {
    opacity: 1; }
  60% {
    opacity: 1; }
  61% {
    opacity: 0; }
  99% {
    opacity: 0; } }
